.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 1rem;
  color: var(--color-dark-5);
}

.duration {
  display: flex;
  justify-content: space-between;

  font-size: 1.1rem;

  max-width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;

  border-style: inset;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  background-color: field;
}
.duration.view-mode {
  border-style: inherit;
  border: 1px solid var(--color-dark-5);
  background-color: var(--color-light-2);
}

.picker {
  display: flex;
  flex-direction: column;

  text-align: center;
  width: 33%;
}

.input {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.6rem;
  padding-bottom: 0.2rem;

  border: none;
  background-color: inherit;
}

.picker span {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.duration button {
  display: none;
}
