.card {
  display: relative;
  
  border: 1px solid var(--color-dark-5);
  border-radius: 0.5rem;
  background-color: var(--color-light-2);

  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.expand {
  flex-grow: 1;
}