body {
  background-color: var(--color-light-1);
}

.container {
  position: fixed;
  top: 0px;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;

  overflow: scroll;

  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  padding: 0.5rem;

  color: var(--color-dark-5);
  background-color: var(--color-light-3);
}

@media screen and (min-width: 600px) {
  .header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 10rem;
    padding-right: 10rem;

    background-color: var(--color-light-5);
    border-bottom: 1px solid var(--color-dark-5);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
  }
}
