.overview {
  text-decoration: none;
  color: var(--color-dark-5);
}

.overview > p {
  margin-bottom: 0.5rem;
}

span.accent {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .overview:hover {
    text-decoration: underline;
  }
}
