.overlay {
  position: fixed;
  z-index: 100000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}

.modal {
  position: fixed;
  z-index: 100001;
  left: 3rem;
  right: 3rem;
  top: 15vh;
  min-height: 50vh;
  max-height: 75vh;

  padding: 1rem;

  background-color: white;
}

.modal h1 {
  margin: 0;
  padding: 0;
}
