.add {
  position: fixed;
  right: 1rem;
  bottom: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;

  border-radius: 50%;
  text-align: center;

  background-color: var(--color-light-2);
}

a.add {
  width: inherit;
  height: inherit;

  font-size: 2.3rem;
  text-decoration: none;
  color: var(--color-dark-5);

  border: 1px solid var(--color-dark-5);
  border-radius: inherit;

  background-color: inherit;
}

@media screen and (min-width: 935px) {
  .add {
    width: auto;
    height: inherit;
    border-radius: 0.5rem;
  }
  
  a.add {
    font-size: 1.1rem;
  }
}
