.main {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 3.5rem;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 935px) {
  .main {
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 10rem;
    padding-right: 10rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 0.5rem;
  }
}
