.data-point {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: rgb(1, 82, 1);
}

.data-point span {
  font-weight: bold;
  color: rgb(1, 66, 1);
}

.empty {
  font-style: italic;
  color: rgb(105, 129, 105);
}

.button {
  padding: 0.4rem;
  font-size: 1.05rem;
  color: #034d00;

  border: 1px solid #034d00;
  border-radius: 4px;
  background-color: #c8f3d3;
}

@media screen and (min-width: 600px) {
  .data-point {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: rgb(1, 82, 1);
  }

  .data-point span {
    font-weight: bold;
    color: rgb(1, 66, 1);
  }

  .empty {
    font-style: italic;
    color: rgb(105, 129, 105);
  }

  .button {
    padding: 0.4rem;
    font-size: 1.05rem;
    color: #034d00;

    border: 1px solid #034d00;
    border-radius: 4px;
    background-color: #c8f3d3;
  }
}
