.label {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-dark-5);
}

div.name {
  display: flex;
  align-items: center;

  font-size: 1.1rem;
}

span.name {
  flex-grow: 1;
  color: var(--color-dark-5);
}

.input {
  flex-grow: 1;
  font-size: 1.1rem;
  padding: 0.5rem;
}
