div {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 1.2rem;
}

input {
  font-size: 1.2rem;
  padding: 0.3rem;
}

input.error {
  border: 1px solid red;
}

p.error {
  margin-top: 0px;
  color: red;
}
