div.form-input {
  display: flex;
  flex-direction: column;
}

.form-input label {
  font-size: 1.2rem;
}

.form-input input {
  font-size: 1.2rem;
  padding: 0.3rem;
}

.form-input input.error {
  border: 1px solid red;
}

.form-input p.error {
  margin-top: 0px;
  color: red;
}
