.bubble {
  position: fixed;
  right: 0.5rem;
  top: 0.2rem;
  width: 3rem;
  height: 3rem;
  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--color-dark-5);
  border-radius: 50%;
  color: var(--color-dark-5);
  background-color: var(--color-light-5);

  font-size: 1.1rem;
}

.bubble.alert {
  color: rgb(173, 173, 0);
  border-color: rgb(173, 173, 0);
  background-color: var(--color-light-1);

  font-weight: bold;
  font-size: 1.2rem;
}

.bubble.high-alert {
  color: red;
  border-color: red;
  background-color: rgb(255, 217, 217);

  font-weight: bold;
  font-size: 1.2rem;
}

.expanded {
  position: fixed;
  right: 0.5rem;
  left: 0.5rem;
  top: 0.2rem;
  min-height: 30vh;
  z-index: 10000;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;

  border: 1px solid var(--color-dark-5);
  border-radius: 0.5rem;
  border-top-right-radius: 1.5rem;
  color: var(--color-dark-5);
  background-color: var(--color-light-3);

  font-size: 1.1rem;
}

.expanded h1 {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 3rem;

  display: flex;
  align-items: center;
  padding-left: 0.5rem;

  font-size: 1.1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: var(--color-light-5);
}

.expanded.alert h1 {
  color: rgb(173, 173, 0);
  font-weight: bold;
}

.expanded.high-alert h1 {
  color: red;
  font-weight: bold;
}

.expanded ul {
  margin-top: 3rem;
}

.expanded li {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 600px) {
  .bubble {
    right: 1.5rem;
    top: 0.5rem;
    cursor: pointer;
  }
  .expanded {
    right: 1.5rem;
    left: 60vw;
    top: 0.5rem;
  }
}
