.form {
  display: flex;
  flex-direction: column;
}

.form > label {
  font-size: 1.2rem;
}

.form > input {
  font-size: 1.2rem;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

.form > button {
  font-size: 1.2rem;
  padding: 0.5rem;
}
