* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  --color-dark-1: #70C29D;
  --color-dark-2: #54B689;
  --color-dark-3: #439D73;
  --color-dark-4: #37815E;
  --color-dark-5: #2B6449;

  --color-light-1: #F1F8F5;
  --color-light-2: #E4F1EB;
  --color-light-3: #D7EAE1;
  --color-light-4: #CAE3D7;
  --color-light-5: #BCDCCD;
}

ul {
  list-style-type: none;
}

h1 {
  color: var(--color-dark-5);
}